<div class="row mb-3">
  <div class="col-lg-12">
    <%= form_with model: comment, url: [board, comment], data: { turbo_method: :post } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :body, class: 'comment-label' %>
      <%= f.text_area :body, class: 'form-control mb-3', id: 'turbo-new-comment-body', row: 4, placeholder: t('comments.partial.require_comment') %>
      <%= f.submit t('defaults.post_comment'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
