<%# タブ名の設定 %>
<% content_for(:title, t('.title')) %>
<%# パンクズリストの読み込み %>
<% breadcrumb :dogs %>
<%# JSの読み込み %>
<% content_for :js do %>
  <%= javascript_import_module_tag "dog/index" %>
<% end %>

<div class="container pt-3">
<%# ----------------------------------------------------------------------------------------------- %>
  <%# 検索フォーム %>
  <%= search_form_for @q, url: dogs_path do |f| %>
    <div class="input-group mb-3">
      <%= f.search_field :breed_cont, class: 'js-text_field', placeholder: t('.search_word'), size: 50, autocomplete: 'off', data: { limited_breeds: 'limited_display' }  %>
      <div class="input-group-append">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <ul class="js-lists">
  </ul>
<%# ----------------------------------------------------------------------------------------------- %>
  <%# 犬種一覧 %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @dogs.present? %>
          <%= render @dogs %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
