<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class:'navbar-brand', data: { turbo_stream: true } do %>
      <%= image_tag 'logo.png', size: '80x80' %>
    <% end %>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('defaults.header.to_home'), root_path, class: 'nav-link', data: { turbo_stream: true } %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.header.to_diagnoses'), new_diagnosis_path, class: 'nav-link', data: { turbo: false } %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.header.to_dogs_index'), dogs_path, class: 'nav-link', data: { turbo_stream: true } %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.header.to_logout'), logout_path, class: 'nav-link', data: { turbo_method: :delete } %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            投稿
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"></a></li>
            <%= link_to t('boards.index.title'), boards_path, class: 'dropdown-item', data: { turbo_stream: true } %>
            <%= link_to t('boards.bookmarks.title'), bookmarks_boards_path, class: 'dropdown-item', data: { turbo_stream: true } %>
            <%= link_to t('boards.new.title'), new_board_path, class: 'dropdown-item', data: { turbo: false } %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>