<%# タブ名の設定 %>
<% content_for(:title, t('.title')) %>
<%# パンクズリストの読み込み %>
<% breadcrumb :board_show, @board %>

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @board.board_image_url(:medium), class: 'card-img-top img-fluid', size: '200x200' %>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @board.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= "#{@board.user.name}さん" %></li>
                <li class="list-inline-item"><%= t('activerecord.attributes.board.created_at') %>：<%= l @board.created_at, format: :long  %></li>
              </ul>
              <%# ログインユーザーが投稿主かどうか %>
              <% if logged_in? %>
                <% if current_user.own?(@board) %>
                  <%= render 'crud_menus', board: @board %>
                <% else %>
                  <%= render 'bookmark_button', board: @board %>
                <% end %>
              <% end %>
              <%# 投稿時に犬種情報を入力しているか %>
              <% if @board.dog_id.present? %>
                <h5 class="d-flex align-items-center mb-0">
                  <% if @board.dog.display_in_index == 1 %>
                    <%= link_to dog_path(@board.dog), class: "text-decoration-none" do %>
                      <i class="fa-solid fa-dog"></i>
                      <%= @board.dog.breed %>
                    <% end %>
                  <% else %>
                    <div class='text-decoration-none text-primary-emphasis'>
                      <i class="fa-solid fa-dog"></i>
                      <%= @board.dog.breed %>
                    </div>
                  <% end %>
                </h5>
              <% end %>
            </div>
          </div>
          <p><%= simple_format(@board.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <% if logged_in? %>
    <div id='new_comment_area'>
      <%= render 'comments/form', { board: @board, comment: @comment } %>
    </div>
  <% end %>

  <!-- コメントエリア -->
  <div id="comment_index_area">
    <% if @comments.present? %>
      <%= render 'comments/comments', { comments: @comments } %>
    <% else %>
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <%= t('.no_comment') %>
      </div>
    <% end %>
  </div>

  <%# 投稿一覧に戻るボタンの設置 %>
  <div class='text-center'>
    <%= link_to t('.to_board_index'), boards_path %>
  </div>
</div>

