<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags(yield :title)) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="container">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
